---
import IssuePreview from '../components/IssuePreview';
import { SITE } from '../config';
import Layout from '../layouts/Layout.astro';

let { title, description, permalink } = SITE;

let set = await Astro.glob('./settings/*.md');
let settings = set[0].frontmatter;
let categoryPosts = await Astro.glob('./categories/*.md');
let issuePosts = await Astro.glob('./issues/*.md');
let allPosts = await Astro.glob('./posts/*.md');
---
<Layout {title} {description} {permalink}>
	<main class="content">
    <section>
      <img width="720" height="420" class="home-image mx-auto my-8" loading="lazy" src={settings.mainImage} />
    </section>
    <section>
      <IssuePreview client:only="react" posts={issuePosts} allCategories={categoryPosts} allPosts={allPosts} />
    </section>
	</main>
</Layout>
<style>
	header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home-image {
		width: 100vw;
		object-fit: cover;
		object-position: center;
		margin-bottom: 4rem;
	}

	@media (max-width: 50em) {
		.home-image {
			margin-top: 0;
			margin-bottom: 2rem;
      max-width: 100vw;
      position: relative;
      left: -2rem;
		}
	}

  .content {
    margin-bottom: 8rem;
  }

  .intro {
    padding-bottom: 4rem;
    margin-bottom: 2rem;
    border-bottom: 4px solid var(--theme-divider);
  }

  .intro > * {
    margin: 0;
  }

  .latest {
    font-size: 2.5rem;
    font-weight: 700;
  }

  footer {
    text-align: center;
  }
</style>
