---
import { SITE } from "../config";
import Layout from "../layouts/Layout.astro";

let { description, permalink } = SITE;
let issuePosts = await Astro.glob('./issues/*.md');

function formatDate(date) {
  const originalDate = date;
  const [month, day] = originalDate.split(' ');
  const reformattedDate = `${month}/${day}`;
  return reformattedDate;
}
---

<Layout title="все номера" {description} {permalink}>
  <header class="mb-1 md:mb-10 mt-5">
    <h1 class="text-2xl sm:text-4xl font-bold">все номера</h1>
  </header>
  <main>
    {issuePosts.map((post) => (
      <article class="py-5">
        <section class="flex flex-col pb-8">
          <p class="font-medium">номер {post.frontmatter.issueNumber} - {formatDate(post.frontmatter.publishDate)}</p>
          <a href={post.url}><h1 class="cat-title text-xl sm:text-4xl">{post.frontmatter.title}</h1></a>
        </section>
        <section class="flex flex-col sm:flex-row gap-5">
          <div class="sm:w-1/2">
            <img width="720" height="420" class="hero-image mx-auto" loading="lazy" src={post.frontmatter.coverImage} />
          </div>
          <div class="sm:w-1/2">
            <p class="text-xs md:text-base font-light whitespace-pre-line">{post.frontmatter.description}</p>
          </div>
        </section>
      </article>
    ))}
  </main>
</Layout>


<style>
	.cat-title {
		font-weight: 700;
		color: var(--theme-text);
	}
</style>