---
import Author from './Author.astro';

export interface Props {
	title: string;
	author: string;
	authorURL: string;
	publishDate: string;
	heroImage: string;
	coverImage: string;
	alt: string;
}
const { title, author, authorURL, publishDate, heroImage, coverImage, alt } = Astro.props as Props;


function getRussianMonth(englishMonth) {
  const months = {
    "Jan": "Янв",
    "Feb": "Фев",
    "Mar": "Мар",
    "Apr": "Апр",
    "May": "Май",
    "Jun": "Июн",
    "Jul": "Июл",
    "Aug": "Авг",
    "Sep": "Сен",
    "Oct": "Окт",
    "Nov": "Ноя",
    "Dec": "Дек"
  };

  return months[englishMonth];
}

const parts = publishDate.split(" ");
const day = parts[0];
const month = getRussianMonth(parts[1]);
const year = parts[2];

const russianDate = `${day} ${month} ${year}`;
---

<div class="layout container select-none">
	<article class="content">
		<div>
			<header>
				{coverImage && <img width="720" height="420" class="hero-image element" loading="lazy" src={coverImage} alt={alt} />}
				<p class="publish-date element">{russianDate}</p>
				<h1 class="title element">{title}</h1>
				<Author name={author} href={authorURL} />
			</header>
			<main class="element">
				<slot />
			</main>
		</div>
	</article>
</div>

<script>
  window.addEventListener("load", () => {
	const elements = document.querySelectorAll(".element");

	let chooseElement;

	const move = (e) => {
		e.style.position = "absolute";
		chooseElement = e;

		document.onmousemove = (event) => {
			if (chooseElement) {
				const x = event.pageX;
				const y = event.pageY;

				chooseElement.style.left = x + "px";
				chooseElement.style.top = y + "px";
			}
		};
	};

	elements.forEach((element) => {
		const e = element;

		e.addEventListener("mousedown", () => {
			move(e);
		});
	});

	document.onmouseup = () => {
		chooseElement = null;
	};
});
</script>

<style>
	.hero-image {
		width: 70vw;
		aspect-ratio: 2/1;
		object-fit: cover;
		object-position: center;
		margin-top: 2rem;
		margin-bottom: 4rem;
		max-width: 1280px;
	}

	@media (max-width: 50em) {
		.hero-image {
			height: 260px;
			margin-top: 0;
			margin-bottom: 2rem;
		}
	}

	.content {
		margin-bottom: 8rem;
	}

	.content :global(main > * + *) {
		margin-top: 1rem;
	}

	.content :global(h2) {
		margin-top: 4rem;
	}

	header {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		justify-content: center;

		padding-bottom: 2rem;
		margin-bottom: 2rem;
		border-bottom: 4px solid var(--theme-divider);
	}

	.title,
	.author,
	.publish-date {
		margin: 0;
	}

	.publish-date,
	.author {
		color: var(--theme-text-lighter);
	}

	.title {
		font-size: 2.25rem;
		font-weight: 700;
	}
</style>
